<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Floats</title>
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body>
		<div id="page">
			<div id="logo">
				<img src="images/logo.png" alt="Cafe Vincze" />
			</div>
			<ul id="navigation">
				<li><a href="#" id="current-page">Home</a></li>
				<li><a href="#">Menu</a></li>
				<li><a href="#">Location</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div id="content">
				<h1>About Us</h1>
				<p><img src="images/cafe_front.jpg" alt="Store front" /> Cafe Vincze is an authentic Italian restaurant that offers outstanding Italian dining. Dine with family and friends while enjoying the Italian traditions of food, friendship and hospitality.</p>
				<p>Cafe Vincze is a casual fine dining restaurant, offering a warm hospitality in a rustic historically preserved building. A high, open beam ceiling, exposed brick and concrete floors display the original space, while an open kitchen, banquette seating and gentle lighting contribute to an intimate and contemporary feel.</p>
				<p>In the spirit of Italian culture, our dishes are served family style and are meant to be shared. Come join us for an amazing dining experience!</p>
			</div><!-- /content -->
		</div><!-- /page -->
	</body>
</html>