<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Layout</title>
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body>
		<div id="page">
			<div id="logo">
				<img src="images/logo.png" alt="Cafe Vincze" />
			</div>
			<ul id="navigation">
				<li><a href="#" >Home</a></li>
				<li><a href="#">Menu</a></li>
				<li><a href="#" id="current-page">Location</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div id="content">
				<h1>Location</h1>
				<p>Cafe Vincze<br />
					3300 University Blvd.<br />
					Winter Park, FL 32792
				</p>	
				<p>
					(407) 679-0100<br />
					(888) 226-7625
				</p>
				<div id="column1of2">
					<h3>From the North:</h3>
					<ol>
						<li>Head South on I-4 W.</li>
						<li>Take exit 87 for Fairbanks Ave.</li>
						<li>Keep left at the fork, follow signs for Winter Park/FL-426 E.</li>
						<li>Turn left at W Fairbanks Ave.</li>
						<li>Continue onto Osceola Ave.</li>
						<li>Continue onto Brewer Ave.</li>
						<li>Brewer Ave turns slightly right and becomes Aloma Ave/FL-426 E.</li>
						<li>Turn right at FL-436 E/Semoran Blvd.</li>
						<li>Turn left at University Blvd, we will be on the right.</li>
					</ol>
				</div><!-- /column1of2 -->
				<div id="column2of2">
					<h3>From the South:</h3>
					<ol>
						<li>Head Northeast on I-4 W.</li>
						<li>Take exit 85 for Princeton St.</li>
						<li>Turn right at E Princeton St.</li>
						<li>Turn left at N Orange Ave.</li>
						<li>Continue onto W Fairbanks Ave.</li>
						<li>Continue onto Osceola Ave.</li>
						<li>Continue onto Brewer Ave.</li>
						<li>Brewer Ave turns slightly right and becomes Aloma Ave/FL-426 E.</li>
						<li>Turn right at FL-436 E/Semoran Blvd.</li>
						<li>Turn left at University Blvd, we will be on the right.</li>
					</ol>
				</div><!-- /column2of2 -->
				<!-- Add Contact Info here -->
			</div><!-- /content -->
		</div><!-- /page -->
	</body>
</html>